span, h3{
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

h2, p{
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

h4{
  font-family: Gilroy-Medium, sans-serif;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase;
}